.toolbar {
  width: 500px;
  height: 100px;
  // background-color: rgba(89, 66, 173, 0.849);
  display: flex;
  
  .tool {
    background-color: green;
    width: 64px;
    height: 64px;
    display: flex;
    .tool_icon {
      align-items: center;
      justify-content: space-between;
    }
  }
}