.toolbar {
  background-color: white;
  box-shadow: 5px 5px 5px #888888;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 10px;
  .tool_icon {
    height: 60px;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
  }
  .tool_icon:hover{
    color: blue;
  }
}
.left_tool_bar {
  width: 50px;
  height: auto;
  position: fixed;
  font-size: 30px;
  z-index: 5;
  .tool_icon {
    width: 100%;
    margin-top: 10px;
  }
}
.float_tool_bar {
  font-size: 30px;
  position: absolute;
  z-index: 5;
  height: 60px;
  width: auto;
  display: flex;
  .tool_icon {
    width: 35px;
    margin: 5px;
  }
}
